.Tytuł {
    margin-top:2%;
    position: relative;
    max-width: 30%;
    color:rgb(185, 121, 37);
    background: transparent;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    color: black;
    border-bottom: solid black 2px;
    overflow: hidden;
}
.box{
    overflow: hidden;
    position:absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(24, 146, 136),rgb(59, 59, 194));
    margin-left: auto;
    margin-right: auto;

}
.body {
    overflow: hidden;
}